@import './shop.module.scss';

div.topSection{
    position: relative;
    background-image: url('/images/slant_3.png');
    background-size: 100% 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 15%;

    display: flex;
    flex-direction:column;
    div.row{
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        align-items: center;
    }
}
div.bottomSection{
    position: relative;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    div.instructionDiv{
        font-size: 25px;
        font-weight: bold;
    }

    div.locationSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a:focus{
            outline: none;
        }

        button:focus{
            outline: none;
        }

        button{
            background-color:$tecky-cyan;
            color: white;
            font-size: 20px;
            padding: 10px 60px;
            border-radius: 5px;
            margin: 10px 0px;
            cursor: pointer;
            border:none;
            box-shadow: 3px 3px 1px 1px $tecky-dark-gray;
        }
    }
}