@import './shop.module.scss';
div.paymentSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border:$tecky-green solid 2px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    div.paymentTitle{
        //border:$tecky-green solid 2px;
        //padding-top: 10px;
        // padding-bottom: 10px;
        // border-radius: 10px;
        // padding-left: 0px;
        // padding-right: 0px;
        div.paymentTitleBackground{
            //width:100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: $tecky-green;
            padding-top: 10px;
            padding-bottom: 10px;
            span{
                color:white;
                padding-left: 10px;
                font-size: 25px;
                font-weight: bold;
            }
            @media screen and (max-width:524px) {
                span{
                    color:white;
                padding-left: 10px;
                font-size:99%;
                font-weight: bold;}
            }
        }
        /*margin-bottom: 5px;
        top:10px;
        left: 10px;
        right:60%;
        bottom: 10px;*/
        //position: absolute;
        // top:0px;
        // left:0px;
        // right: 0px;
        // bottom: 0px;
    }
    div.paymentContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // top:0px;
        // bottom: 0px;
        align-items: center;
        //margin-left: 5vw;
        //margin-right: 5vw;
        div.paymentPrice{
            display: flex;
            flex-direction: column;
            align-items: center;
            //margin-bottom: 10px;
            span{
                font-weight: bold;
                color: $tecky-green;
                //padding-top: 4vh;
                //padding-bottom: 10px;
                font-size: 3em;
                //bottom: 16vh;
                //top:6vh;
                //position: absolute;
                @media screen and (max-width:700px) {
                    font-size: calc(2em - 1px);
                }
                @media screen and (max-width:524px) {
                    font-size: calc(100% - 2px);
                }
            }
            text-align: center;
        }

        div.stripeContent{
            //position: absolute;
            // left: 20px;
            // right: 20px;
            display: flex;
            flex-direction: column;
        }

        div.stripeContentHide{
            //position: absolute;
            // left: 20px;
            // right: 20px;
            display: flex;
            flex-direction: column;
            visibility: hidden;
        }

        div.stripeLabel{
            //position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            //top: 80px;
            //bottom: 5px;
            text-align: center;
            @media screen and (max-width:524px) {
                span{
                   font-size:80%;
                }
            }
        }

        div.stripeLabelHide{
            //position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            //top: 80px;
            //bottom: 5px;
            text-align: center;
            @media screen and (max-width:524px) {
                span{
                   font-size:80%;
                }
            }
            visibility: hidden;
        }

        div.paymentButton{
            width:fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                width: fit-content;
                padding-left: 2vw;
                padding-right: 2vw;
                text-decoration: none;
                
                span{
                    font-size: 30px;
                }
                @media screen and (max-width:524px) {
                    span{
                        font-size: 20px;
                    }
                }                    
            }
            //position: absolute;
            //bottom: 7vh;

        }
        
    }
}